.toasts {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: .75rem;
    width: 100%;
    z-index: 100;
}

.toast {
    width: 350px;
    max-width: unset;
    background-color: #fff;
}

@media (max-width: 575px) {
    .toast {
        width: 100%;
    }
}

.toast-default {
    .toast-header {
        background-color: #f8f9fc;
    }

    .toast-header, .text-muted, .close {
        color: #3a3b45 !important;
    }
}

.toast-primary {
    .toast-header {
        background-color: #4e73df;
    }

    .toast-header, .text-muted, .close {
        color: #fff !important;
    }

    .close {
        text-shadow: none;
        opacity: 1;
    }
}

.toast-success {
    .toast-header {
        background-color: #1cc88a;
    }

    .toast-header, .text-muted, .close {
        color: #fff !important;
    }

    .close {
        text-shadow: none;
        opacity: 1;
    }
}

.toast-info {
    .toast-header {
        background-color: #36b9cc;
    }

    .toast-header, .text-muted, .close {
        color: #fff !important;
    }

    .close {
        text-shadow: none;
        opacity: 1;
    }
}

.toast-warning {
    .toast-header {
        background-color: #f6c23e;
    }

    .toast-header, .text-muted, .close {
        color: #fff !important;
    }

    .close {
        text-shadow: none;
        opacity: 1;
    }
}

.toast-danger {
    .toast-header {
        background-color: #e74a3b;
    }

    .text-muted {
        color: #fff !important;
    }

    .close {
        text-shadow: none;
        opacity: 1;
    }
}

.toast-secondary {
    .toast-header {
        background-color: #858796;
    }

    .toast-header, .text-muted, .close {
        color: #fff !important;
    }

    .close {
        text-shadow: none;
        opacity: 1;
    }
}
