/**
 * Base - Any modification needs to be approved, except the space inside the block of TODO
 */

.btn {
    &.text-truncate {
        padding-right: 2.25rem;

        &.dropdown-toggle::after {
            position: absolute;
            right: 1.25rem;
            top: 40%;
        }
    }
}

.btn-xs {
    padding: .175rem .4rem;
    font-size: .65rem;
    line-height: unset;
    border-radius: .2rem;
}

.btn-link {
    &.no-decoration {
        text-decoration: none;
    }
}

.btn-group {
    & > .btn.dropdown-toggle:not(:nth-last-child(2)) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    & > .form-control:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.btn-text-hover {
    span {
        display: none;
    }

    &:hover {
        span {
            display: inline;
        }
    }
}

.btn-item, .btn-group-item {
    margin-bottom: 1rem;
}

.btn-item-left {
    float: left;
    margin-right: 1rem;
}

.btn-item-right {
    float: right;
    margin-left: 1rem;
}

@media (max-width: 575px) {
    .btn-item {
        width: 100%;
        display: block;
    }

    .btn-group-item {
        width: 100%;
    }

    .btn-item-left {
        float: none;
        margin-right: 0;
    }

    .btn-item-right {
        float: none;
        margin-left: 0;
    }
}

.btn-short {
    span {
        display: none;
    }
}

.btn-short-xs {
    span {
        display: inline;
    }
}

@media (min-width: 576px) {
    .btn-short-sm {
        span {
            display: inline;
        }
    }
}

@media (min-width: 768px) {
    .btn-short-md {
        span {
            display: inline;
        }
    }
}

@media (min-width: 992px) {
    .btn-short-lg {
        span {
            display: inline;
        }
    }
}

@media (min-width: 1200px) {
    .btn-short-xl {
        span {
            display: inline;
        }
    }
}
