$dash-box-body-height: 400;
$dash-box-header-height: 52;
$dash-box-footer-height: 62;
.dash-box {
    .card {
        .card-header {
            h6 {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: 700;
            }
        }

        .card-body {
            height: #{$dash-box-body-height}px;
            overflow: auto;
        }

        &.no-header {
            .card-body {
                height: #{$dash-box-body-height + $dash-box-header-height}px;
            }
        }

        &.no-footer {
            .card-body {
                height: #{$dash-box-body-height + $dash-box-footer-height}px;
            }
        }

        &.no-header.no-footer {
            .card-body {
                height: #{$dash-box-body-height + $dash-box-header-height + $dash-box-footer-height}px;
            }
        }
    }
}
