@import "variables";

/**
 * Body
 */
body {
    font-family: $font-family;

    &.initializing {
        background: #fff;
    }
}

/**
 * Role
 */
[role="button"] {
    cursor: pointer;
}

/**
 * Hide
 */
.hide, .hide-xl {
    display: none !important;
}

.show, .show-xl {
    display: inherit;
}

@media (max-width: $xs-max-width) {
    .hide-xs {
        display: none;
    }
}

@media (min-width: $sm-min-width) {
    .show-xs {
        display: none;
    }
}

@media (max-width: $sm-max-width) {
    .hide-sm {
        display: none;
    }
}

@media (min-width: $md-min-width) {
    .show-sm {
        display: none;
    }
}

@media (max-width: $md-max-width) {
    .hide-md {
        display: none;
    }
}

@media (min-width: $lg-min-width) {
    .show-md {
        display: none;
    }
}

@media (max-width: $lg-max-width) {
    .hide-lg {
        display: none;
    }
}

@media (min-width: $xl-min-width) {
    .show-lg {
        display: none;
    }
}

/**
 * Width
 */
.wp-32 {
    width: 32px !important;
}

.wp-50 {
    width: 50px !important;
}

.wp-75 {
    width: 75px !important;
}

.wp-80 {
    width: 80px !important;
}

.wp-100 {
    width: 100px !important;
}

.wp-120 {
    width: 120px !important;
}

.wp-125 {
    width: 125px !important;
}

.wp-150 {
    width: 150px !important;;
}

.wp-175 {
    width: 175px !important;;
}

.wp-180 {
    width: 180px !important;;
}

.wp-200 {
    width: 200px !important;;
}

/**
 * Height
 */
.hp-32 {
    height: 32px !important;
}

.hp-50 {
    height: 50px !important;
}

.hp-75 {
    height: 75px !important;
}

.hp-80 {
    height: 80px !important;
}

.hp-100 {
    height: 100px !important;
}

.hp-120 {
    height: 120px !important;
}

.hp-125 {
    height: 125px !important;
}

.hp-150 {
    height: 150px !important;;
}

.hp-175 {
    height: 175px !important;;
}

.hp-180 {
    height: 180px !important;;
}

.hp-200 {
    height: 200px !important;;
}

/**
 * Text
 */
.nowrap {
    white-space: nowrap;
}

/**
 * Box layout
 */
.has-control {
    padding-bottom: .25rem;
}

/**
 * Floating buttons
 */
.scroll-to-top {
    z-index: 101;
}

.scroll-to-back {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: #fff;
    background: rgba(90, 92, 105, 0.5);
    line-height: 46px;
    z-index: 101;

    &.has-top {
        right: 4.75rem;
    }

    &:focus, &:hover {
        color: white;
    }

    &:hover {
        background: #5a5c69;
    }

    i {
        font-weight: 800;
    }
}

/**
 * Auth screen
 */
.bg-login-image,
.bg-register-image,
.bg-password-image {
    background: #3960CF;
}
