@media (min-width: 768px) {
    .modal-md {
        max-width: 700px;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 900px;
    }
}

@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1100px;
    }
}
