@import "variables";

.select2 {
    width: 100% !important;
}

.select2-search--dropdown .select2-search__field {
    padding: .375rem .75rem !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 1rem;
}

.select2-results__group {
    padding-left: 1rem !important;
}

.select2-results__option {
    padding-left: 1rem;

    .select2-results__option {
        padding-left: 2rem !important;
    }

    &[aria-disabled] {
        background-color: $disabledColor;
    }
}

.select2-container--bootstrap4 {
    .select2-selection__clear {
        width: 1.2em;
        height: 1.2em;
        line-height: 1.2em;
        padding-left: .1em;
        margin-top: .5em;
    }
}