.sidebar {
    &.toggled {
        .sidebar-brand-icon {
            display: inherit;
        }
    }
}

@media (min-width: 768px) {
    .sidebar {
        width: 18rem !important;

        .nav-item {
            .nav-link {
                width: 18rem;
            }
        }
    }
}