/**
 * Base - Any modification needs to be approved, except the space inside the block of TODO
 */

.table {
    th {
        white-space: nowrap;
    }
}

.table-responsive {
    margin-bottom: 1rem;

    table {
        margin-bottom: 0;
    }
}
