/**
 * Base - Any modification needs to be approved, except the space inside the block of TODO
 */

$xs-max-width: 575px;
$sm-min-width: 576px;
$sm-max-width: 767px;
$md-min-width: 768px;
$md-max-width: 991px;
$lg-min-width: 992px;
$lg-max-width: 1199px;
$xl-min-width: 1200px;

$font-noto-sans: "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$disabledColor: #eaecf4;
$require-color: #bd362f;

// TODO:
//  Other variables

// TODO